n8n-workflows/workflow-A-content-generator.json
{
  "name": "AMGO Sports — Instagram Content Generator (Workflow A)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Daily Schedule 8AM AEST",
      "position": [
        288,
        -368
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amgo-manual-trigger",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "node-manual-trigger",
      "name": "Manual Generate Trigger",
      "position": [
        288,
        -176
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "7427ca8f-3cee-450a-be12-51897f7ccab4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aKlDEZx2U7bkiFAS",
          "name": "AMGO Manual Trigger Api Auth Key"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://c4gc4s8s40wskwcw4gs4g0ck.65.109.224.127.sslip.io/api/settings?key=workflow_config",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-a-fetch-workflow-config",
      "name": "Fetch Workflow Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        -176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YApp08XHCeWyQbUD",
          "name": "AMGO Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.appUrl }}/api/settings?key=dayThemes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-fetch-themes",
      "name": "Fetch Themes from DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YApp08XHCeWyQbUD",
          "name": "AMGO Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Fetch Workflow Config').item.json.value.appUrl }}/api/cricket-matches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-fetch-cricket",
      "name": "Fetch Cricket Match Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YApp08XHCeWyQbUD",
          "name": "AMGO Webhook Secret"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const day = new Date().getDay();\nconst themes = ($('Fetch Themes from DB').first().json.data);\nconst dailyTheme = themes[day];\nconst cricketData = $input.first().json;\nconst isMatchDay = cricketData?.data?.isMatchDay === true;\nconst postDate = new Date().toISOString().split('T')[0];\nconst dayName = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][day];\n\n// Check for forceTheme from manual trigger webhook payload\nlet forcedTheme = null;\ntry {\n  const webhookJson = $('Manual Generate Trigger').first().json;\n  const forceThemeName = webhookJson?.body?.forceTheme || webhookJson?.forceTheme;\n  if (forceThemeName) {\n    const found = themes.find(t => t.name === forceThemeName);\n    if (found) forcedTheme = found;\n  }\n} catch(e) {\n  // Scheduled trigger — no webhook data available\n}\n\nconst selectedTheme = forcedTheme || dailyTheme;\n\nconst items = [\n  {\n    json: {\n      theme_name: selectedTheme.name,\n      theme_emoji: selectedTheme.emoji,\n      theme_focus: selectedTheme.focus,\n      day_of_week: dayName,\n      post_id: 'AMGO_' + postDate + '_DAILY',\n      post_date: postDate,\n      is_match_day: isMatchDay,\n      post_type: 'daily'\n    }\n  }\n];\n\nif (isMatchDay && !forcedTheme) {\n  const { matchTitle, teams, venue } = cricketData.data;\n  items.push({\n    json: {\n      theme_name: 'Match Day Inspiration',\n      theme_emoji: '🏆',\n      theme_focus: `${matchTitle} is on today! Match-day content — elite cricket energy, game-day gear, player inspiration. Mention that serious cricketers gear up at AMGO Sports. Reference the match: ${matchTitle} — ${teams} at ${venue}.`,\n      day_of_week: dayName,\n      post_id: 'AMGO_' + postDate + '_MATCH',\n      post_date: postDate,\n      is_match_day: true,\n      post_type: 'match'\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "node-theme-selector",
      "name": "Select Today Theme",
      "position": [
        1200,
        -176
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional social media manager for AMGO Sports, a premium cricket and sports equipment retailer in Hills Shire, NSW, Australia.\n\nBRAND VOICE:\n- Passionate, expert, professional, community-driven\n- Australian English (colour, favourite, practise, centre)\n- Audience: Serious cricketers aged 16-45, intermediate to elite level\n- Always include a subtle CTA (\"DM us\", \"Link in bio\", or \"Visit amgosports.com.au\")\n- Use 3-5 relevant emojis maximum\n- Never use US English spelling\n- Never use generic sports cliches\n- AMGO Sports stocks: SS, SG, SF, CA, GM, DSC, TON, Kookaburra brands\n\nYou MUST respond in VALID JSON only. No markdown code blocks, no explanation, just the raw JSON object.",
              "role": "system"
            },
            {
              "content": "=Today's content theme: {{ $json.theme_name }}\nTheme focus: {{ $json.theme_focus }}\nToday is: {{ $json.day_of_week }}, {{ $json.post_date }}\n\nGenerate a complete Instagram post package as a JSON object with EXACTLY these fields:\n{\n  \"caption\": \"Full Instagram caption, must be 200-280 characters. Include a hook in first 5 words, 2-3 sentences of value, and a CTA. Include 3-5 relevant emojis woven naturally into the text.\",\n  \"hashtags\": \"Exactly 25 hashtags as a single string, each preceded by # and separated by spaces. Start with #amgosports #amgosportsau.\",\n  \"dalle_prompt\": \"Detailed image generation prompt for Flux 2 Pro (photorealistic AI model). Style: photorealistic commercial sports photography, ultra-high-end product imagery, dramatic studio lighting, clean background, no text overlay, ultra-sharp 4K detail, shot on professional camera, looks like a real photograph. IMPORTANT: If the image includes a cricket bat, enforce accurate proportions — the handle (grip section) must be SHORT, approximately one-quarter of the bat total length (roughly 25cm); the blade (flat willow section) must be LONG, approximately three-quarters of total length (roughly 71cm); the handle must never appear longer than or equal in length to the blade; flat face with a prominent V-shaped spine ridge on the back.\",\n  \"alt_text\": \"Short descriptive alt text for the image (max 100 characters, plain text only)\",\n  \"theme_tag\": \"One word category in UPPERCASE e.g. PRODUCT, TIPS, LIFESTYLE, PROMO, BRAND, MATCHDAY, BTS\"\n}"
            }
          ]
        },
        "options": {
          "maxTokens": 1000,
          "temperature": 0.8
        }
      },
      "id": "node-gpt-caption",
      "name": "GPT-4o Caption & Prompt Generator",
      "position": [
        1392,
        -176
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "qebgRAmjZnugsqC3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.text || $input.first().json.message?.content || '';\nconst cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) { parsed = JSON.parse(match[0]); }\n  else { throw new Error('Could not parse AI output as JSON: ' + cleaned.substring(0, 200)); }\n}\nconst themeData = $('Select Today Theme').item.json;\nreturn [{ json: { caption: parsed.caption, hashtags: parsed.hashtags, dalle_prompt: parsed.dalle_prompt, alt_text: parsed.alt_text, theme_tag: parsed.theme_tag, full_caption: parsed.caption + '\\n\\n' + parsed.hashtags, post_id: themeData.post_id, post_date: themeData.post_date, theme_name: themeData.theme_name, theme_emoji: themeData.theme_emoji, day_of_week: themeData.day_of_week, is_match_day: themeData.is_match_day, post_type: themeData.post_type, generated_at: new Date().toISOString() } }];"
      },
      "id": "node-parse-ai-output",
      "name": "Parse AI Output",
      "position": [
        1712,
        -176
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux-2-pro",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.dalle_prompt }}"
            },
            {
              "name": "image_size",
              "value": "square_hd"
            },
            {
              "name": "num_inference_steps",
              "value": "=28"
            },
            {
              "name": "num_images",
              "value": "=1"
            }
          ]
        },
        "options": {}
      },
      "id": "node-dalle-image",
      "name": "Flux 2 Pro Image Generator",
      "position": [
        432,
        96
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "FH6vMXVN31jTpt4s",
          "name": "Fal.ai API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-image-url",
              "name": "image_url",
              "value": "={{ $json.images[0].url }}",
              "type": "string"
            },
            {
              "id": "assign-post-id",
              "name": "post_id",
              "value": "={{ $('Parse AI Output').item.json.post_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "node-merge-image",
      "name": "Merge Caption + Image URL",
      "position": [
        624,
        96
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "value": "={{ $json.image_url }}"
            },
            {
              "name": "name",
              "value": "={{ $json.post_id }}"
            },
            {
              "name": "expiration",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "node-imgbb-upload",
      "name": "Upload Image to imgbb",
      "position": [
        848,
        96
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpQueryAuth": {
          "id": "XwK9y9s0LbV9lP93",
          "name": "ImgbbQueryAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const parsed = $('Parse AI Output').item.json;\n  const imgbb = $input.first().json;\n  return [{ json: { ...parsed, image_url: imgbb?.data?.url || '' } }];\n} catch (error) {\n  return [{ json: { caption: 'Test Caption', hashtags: '#test', image_url: 'https://i.ibb.co/test/test.png', _error: error.message } }];\n}"
      },
      "id": "node-build-package",
      "name": "Build Complete Post Package",
      "position": [
        1040,
        96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Fetch Workflow Config').item.json.data.appUrl }}/api/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "postId",
              "value": "={{ $json.post_id }}"
            },
            {
              "name": "date",
              "value": "={{ $json.post_date }}"
            },
            {
              "name": "day",
              "value": "={{ $json.day_of_week }}"
            },
            {
              "name": "theme",
              "value": "={{ $json.theme_name }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "hashtags",
              "value": "={{ $json.hashtags }}"
            },
            {
              "name": "imageUrl",
              "value": "={{ $json.image_url }}"
            },
            {
              "name": "dallePrompt",
              "value": "={{ $json.dalle_prompt }}"
            },
            {
              "name": "isMatchDay",
              "value": "={{ $json.is_match_day }}"
            }
          ]
        },
        "options": {}
      },
      "id": "61f232cd-1f04-40d1-97ca-f991da9010bd",
      "name": "Log to Database (POST /api/posts)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YApp08XHCeWyQbUD",
          "name": "AMGO Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Build Complete Post Package').item.json.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "node-download-image",
      "name": "Download Image for Telegram",
      "position": [
        1440,
        96
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Fetch Workflow Config').item.json.data.telegramChatId }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "=🏏 <b>AMGO Sports - Post Ready for Approval!</b>\n\n{{ $('Build Complete Post Package').item.json.theme_emoji }} <b>{{ $('Build Complete Post Package').item.json.theme_name }}</b>\n🏷 <b>Type:</b> {{ $('Build Complete Post Package').item.json.post_type === 'match' ? 'Match Day Post' : 'Daily Theme' }}\n📅 {{ $('Build Complete Post Package').item.json.day_of_week }}, {{ $('Build Complete Post Package').item.json.post_date }}\n🆔 {{ $('Build Complete Post Package').item.json.post_id }}\n\n🔗 Dashboard: {{ $('Fetch Workflow Config').item.json.value.dashboardUrl }}",
          "parse_mode": "HTML"
        }
      },
      "id": "node-telegram-notify",
      "name": "Telegram — Preview Notification",
      "position": [
        1664,
        96
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "d961c439-a7ea-42bf-81b1-1fc0d711d260",
      "credentials": {
        "telegramApi": {
          "id": "TPl936nnf2IhEwwW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "position": [
        432,
        368
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $env.APP_URL }}/api/settings?key=workflow_config",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-a-fetch-config-error",
      "name": "Fetch Config (Error)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        368
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YApp08XHCeWyQbUD",
          "name": "AMGO Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Fetch Config (Error)').item.json.value.telegramChatId }}",
        "text": "=*AMGO Sports Automation Error*\n\n*Workflow:* Content Generator (A)\n*Time:* {{ $now.toISO() }}\n*Error:* {{ $json.error?.message || 'Unknown error' }}\n*Node:* {{ $json.execution?.lastNodeExecuted || 'Unknown' }}\n\nPlease check your n8n execution log.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-error-telegram",
      "name": "Send Error Alert",
      "position": [
        832,
        368
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "9ffd4124-44d6-488e-844a-9a8ef55bdf38",
      "credentials": {
        "telegramApi": {
          "id": "TPl936nnf2IhEwwW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AMGO Sports - Daily Instagram Generator\n\n**Workflow A: Content Generator**\n\nRuns every day at 8:00 AM AEST (22:00 UTC)\n\n1. Fetches day themes from DB settings\n2. Fetches cricket match status\n3. Selects theme(s) — always returns daily theme as item #1. On match days, appends Match Day Inspiration as item #2\n4. GPT-4o generates caption + hashtags + image prompt (runs per item)\n5. **Flux 1.1 Pro (Fal.ai)** generates photorealistic HD image (runs per item)\n6. Image URL passed directly to imgbb for persistent hosting (runs per item)\n7. POSTs to /api/posts as PENDING (runs per item)\n8. Telegram photo preview sent (runs per item)\n\n**Normal day:** 1 post → AMGO_YYYY-MM-DD_DAILY\n**Match day:** 2 posts → _DAILY + _MATCH\n\n**Approval happens in the Dashboard only.**\n\n⚡ Image model: Flux 1.1 Pro via Fal.ai (photorealistic, replaces DALL-E 3)\nRequires: FAL_API_KEY env var in n8n",
        "height": 460,
        "width": 520,
        "color": 4
      },
      "id": "sticky-overview",
      "name": "📋 WORKFLOW A - OVERVIEW",
      "position": [
        -304,
        -208
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule 8AM AEST": {
      "main": [
        [
          {
            "node": "Fetch Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Generate Trigger": {
      "main": [
        [
          {
            "node": "Fetch Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Workflow Config": {
      "main": [
        [
          {
            "node": "Fetch Themes from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Themes from DB": {
      "main": [
        [
          {
            "node": "Fetch Cricket Match Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Cricket Match Status": {
      "main": [
        [
          {
            "node": "Select Today Theme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Today Theme": {
      "main": [
        [
          {
            "node": "GPT-4o Caption & Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Caption & Prompt Generator": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Flux 2 Pro Image Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flux 2 Pro Image Generator": {
      "main": [
        [
          {
            "node": "Merge Caption + Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Caption + Image URL": {
      "main": [
        [
          {
            "node": "Upload Image to imgbb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to imgbb": {
      "main": [
        [
          {
            "node": "Build Complete Post Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Complete Post Package": {
      "main": [
        [
          {
            "node": "Log to Database (POST /api/posts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Database (POST /api/posts)": {
      "main": [
        [
          {
            "node": "Download Image for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image for Telegram": {
      "main": [
        [
          {
            "node": "Telegram — Preview Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Fetch Config (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Config (Error)": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Sydney",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "errorWorkflow": "",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d37da6e6-cce2-485d-8c4a-3180b6606dae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c68eb5cbfe02e345ad0ca1dd53bde5c5b851448dd13364323a45f867f43b70c"
  },
  "id": "xjN83TtJsiBRIB1x",
  "tags": []
}